body {
    text-align: center;
}

.square {
    text-align: center;
    width: 50px;
    background: #eee;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color:#eee;
}

.jogador {
    font-size: 30px;
    margin-top: 10px;
}

.vencedor{
    font-size: 200px;
    margin-top: -443px;
    display: none;  
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30;
    background: #eee;
    cursor: pointer;
}